body {
    margin: 0;
}

.parallax-image {
    background-repeat: no-repeat;
    min-height: 125vh;
    background-image: url('https://images.pexels.com/photos/46710/pexels-photo-46710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
}


