.jumbotron {
    margin: 0;
}

.form-control {
    width: 17rem;
}

.alert {
    display: none;
    margin: 0;
}

.birthday-date {
    padding: 2rem;
    background-color: #85f8ff;
}

.date-converter-block {
    padding: 1rem;
    background-color: #dbffd5;
}