@font-face {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/icomoon.eot?45vuwi');
    src:
        url('../fonts/icomoon.eot?45vuwi#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?45vuwi') format('truetype'),
        url('../fonts/icomoon.woff?45vuwi') format('woff'),
        url('../fonts/icomoon.svg?45vuwi#icomoon') format('svg');
}
  
[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.icon-star::before {
    content: "\f005";
}

.icon-clock-o::before {
    content: "\f017";
}

.icon-facebook::before {
    content: "\f09a";
}

.icon-facebook-f::before {
    content: "\f09a";
}

.icon-angle-double-left::before {
    content: "\f100";
}

.icon-angle-double-right::before {
    content: "\f101";
}

.icon-angle-left::before {
    content: "\f104";
}

.icon-angle-right::before {
    content: "\f105";
}

.icon-angle-down::before {
    content: "\f107";
}

.icon-mobile::before {
    content: "\f10b";
}

.icon-mobile-phone::before {
    content: "\f10b";
}

.icon-instagram::before {
    content: "\f16d";
}

.icon-vk::before {
    content: "\f189";
}

.icon-diamond::before {
    content: "\f219";
}

.icon-telegram::before {
    content: "\f2c6";
}

.icon-quotes-left::before {
    content: "\e977";
}

.icon-quotes-right::before {
    content: "\e978";
}
