$firaSans: 'Fira Sans', sans-serif;
$monserat: 'Montserrat', sans-serif;
$accent: #f9c766;
$blue: #66c7cd;
$red: #f86868;
$background: rgba(68, 68, 68, .92);
$grey: #515151;
$white: #fff;
$colors: $blue, $red, $accent;
$borders: #5aafb4, #da5b5b, #dbaf5a;
