@media screen and (max-width: 992px) {
    html {
        font-size: 90%;
    }

    .about {
        &__inner {
            flex-direction: column;
            align-items: center;
        }

        &__inner-photo {
            order: -1;
        }

        &__inner-description {
            width: 80%;

            p {
                text-align: center;
            }
        }

        &__inner-details {
            ul {
                text-align: center;
            }
        }
    }

    .works__list-item {
        flex-basis: 70%;
    }

    .works__list-item-hover {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 85%;
    }

    .about__inner-description {
        width: 100%;
    }

    .works__list-item {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 750px) {
    .header {
        &__inner {
            justify-content: center;
        }

        &__inner-info {
            flex-basis: 100%;
            text-align: center;
        }

        &__inner-name {
            margin-top: 1rem;
        }

        &__inner-title {
            margin: 2rem 0;
        }

        &__inner-github {
            margin: auto;
        }

        &__inner-image {
            display: none;
        }

        &__nav-list {
            position: fixed;
            top: 0;
            right: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100vw;
            height: 100vh;
            margin: 0;
            opacity: 0;
            transition: all .6s ease;
            transform: scale(0, 0);
            transform-origin: top right;

            &--active {
                background-color: $accent-2;
                opacity: .95;
                transform: scale(1, 1);
            }
        }

        &__nav-list-item {
            a {
                font-size: 2rem;
            }

            &:nth-child(1) a {
                color: $accent-1;
                background-image: linear-gradient($accent-7);
            }
        }

        &__nav-btn {
            display: flex;
            flex-direction: column;

            &--active {
                position: fixed;
                z-index: 5;

                > .header__nav-btn-item {
                    background-color: $accent-1;
                }

                > :nth-child(1) {
                    transform: rotate(45deg) translate(2px, -3px);
                }
    
                > :nth-child(2) {
                    opacity: 0;
                    transform: scale(0.2, 0.2);
                }
    
                > :nth-child(3) {
                    transform: rotate(-45deg) translateX(-2px);
                }
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .open-source {
        text-align: center;

        &__contribution-item ul {
            text-align: left;
        }
    }
}

@media screen and (max-width: 565px) {
    html {
        font-size: 80%;
    }

    .works__list-item {
        margin: 2% auto;
    }
}

@media screen and (max-width: 480px) {
    .header {
        min-height: 95vh;

        &__inner-greeting {
            font-size: 4rem;
        }
    
        &__inner-name,
        &__inner-title,
        &__inner-github {
            font-size: 1.5rem;
        }

        &__inner-github {
            width: 60%;
        }
    }

    .works__list-item-hover {
        font-size: .8rem;
        font-weight: 400;
    }

    .works__header-buttons {
        flex-direction: column;
        align-items: center;

        li + li {
            margin-left: 0;
        }
    }
}
