.header-inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 1.25rem;
    padding-bottom: 3.75rem;

    &__nav {
        display: flex;
        flex-shrink: 1;
        align-items: center;
        justify-content: space-between;
    }

    &__nav-link {
        @include font($roboto, .875rem, 900);

        padding: .7rem;
        color: $white;
        text-transform: uppercase;
        transition: color .5s ease;

        &:hover,
        &:focus {
            color: $accent;
        }
    }

    &__slider {
        display: flex;
        flex-grow: 1;
        align-items: center;
        max-width: 49rem;
        margin: auto;
    }

    &__slider-item {
        text-align: center;
        cursor: grab;

        h1 {
            @include font($playfair, 2rem, 900);

            padding-bottom: 1rem;
        }

        p {
            @include font($roboto, .875rem, 300);

            margin-top: 1.5rem;
            margin-bottom: 3.125rem;
        }
    }

    &__slider-btn {
        margin-bottom: 2rem;
    }
}
