body {
    font-family: Arial, 'sant-serif';
    color: aquamarine;
    font-size: 1.2rem;
}

button {
    display: block;
    padding: 1rem 3rem;
    background-color: transparent;
    outline: none;
}