@media screen and (max-width:992px){
    html{
        font-size: 90%;
    }
}
@media screen and (max-width:768px){
    html{
        font-size: 85%;
    }
    .nav__btn{
        display: block;
    }
    .nav__list{
        display: none;
    }
    .nav__list--open{
        display: block;
    }
    .nav__link{
        padding: 1rem;
    }
}
@media screen and (max-width:600px){
    html{
        font-size: 80%;
    }
    .header__logo,
    .header__contact{
        float: none;
        text-align: center;
    }
    .header__logo{
        margin-bottom: 1rem;
    }
    .grid__item{
        float: none;
        width: 100%;  
    }
    .advantage{
        display: block;
    }
    .advantage__item{
        margin-right: 0;
        width: 100% ;
        margin-bottom:1rem; 
    }
    
    .slider__item{
        min-height: 20rem;
    }
}