.open-source {
    padding: $gutter .9rem;
    text-align: left;

    h2.section-title {
        text-align: center;
    }

    &__contributions-list > li + li {
        border-top: 1px solid $accent-5;
    }

    &__contribution-item {
        padding-bottom: 2rem;

        h3 {
            @include hover-underline($accent-6);
            @include font($font-family-1, 1.5rem, 500);

            margin-bottom: 1rem;

            a {
                padding: .3rem .6rem;
            }
        }

        h4 {
            margin: .5rem 0;
            font-weight: 600;
            color: $accent-2;
        }

        strong {
            color: $accent-5;
        }

        p {
            margin: 0;
        }

        ul {
            margin-left: $gutter;
            list-style: initial;
        }

        .library-name {
            font-family: monospace, monospace;
            font-size: 1em;
        }
    }

    &__contribution-item-content-wrapper {
        padding: 0 .6rem;
    }

    &__contribution-item-link {
        @include font($font-family-1, 1rem, 400);

        display: block;
        margin-top: .5rem;
        color: $accent-4;
        transition: color $transition-duration ease;

        &:hover {
            color: darken($accent-4, 30%);
        }
    }
}