.section-team {
    min-height: 100vh;
}

.section-team-inner {
    position: relative;
    z-index: 2;
    padding: 3.75rem;
    text-align: center;

    &__text {
        @include font($roboto, .875rem, 300);
    }
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__person {
        padding: 2.5rem .7rem;
        margin: 0;
        transition: transform 1.5s ease;

        &:hover {
            transform: rotateY(360deg);
        }
    }

    &__post {
        @include font($roboto, .875rem, 500);

        max-width: 170px;
        margin: 0 auto;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        border: 1px solid #dadada;
    }
}