* {
    box-sizing: border-box;
}

body {
    @include font($font-family-1, 1rem, 300);

    line-height: 1.75;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

main,
section {
    padding: $gutter;
    text-align: center;
}
