@keyframes preloader {
    0% {
        z-index: 99;
        opacity: 1;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }
    
    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
    }
    
    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
    }
    
    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
    }
    
    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
    }
    
    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
    }
    
    76% {
        opacity: 0;
        transform: rotate(900deg);
    }
    
    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@keyframes icons-hover {
    0% {
        top: 90%;
        left: -110%;
    }

    50% {
        top: -30%;
        left: 10%;
    }
    
    100% {
        top: -10%;
        left: -10%;
    }
}
