$white: #fff;
$black:rgb(27, 27, 27);
$green: #23c869;
$blue: #23afc8;
$light-blue: rgb(204, 250, 246);
$orange: #feb62b;
$red: rgb(255, 74, 74);
$light-grey: rgb(233, 225, 225);

$gutter: 20px;
$font-family-1: 'Muli', sans-serif;
$transition-duration: .35s;
$accent-1: $white;
$accent-2: $black;
$accent-3: $green;
$accent-4: $blue;
$accent-5: $orange;
$accent-6: $red;
$accent-7: $light-grey;
$bg-color-1: $light-blue;
$colors-mix: $accent-2, $accent-3, $accent-4, $accent-5, $accent-6;
