$white: #fff;
$black:rgb(27, 27, 27);
$green: #23c869;
$blue: #23afc8;
$light-blue: rgb(216, 255, 253);
$orange: #feb400;
$red: rgb(255, 74, 74);
$light-grey: rgb(233, 225, 225);

$gutter: 1.5rem;
$font-family-1: 'Muli', sans-serif;
$font-family-2: 'icomoon';
$transition-duration: .35s;
$border-radius: 30%;
$accent-1: $white;
$accent-2: $black;
$accent-3: $green;
$accent-4: $blue;
$accent-5: $orange;
$accent-6: $red;
$accent-7: $light-grey;
$bg-color-1: $light-blue;
$colors-mix-1: $accent-2, $accent-3, $accent-4, $accent-5, $accent-6;
$colors-mix-2: $accent-2, $accent-6, $accent-5, $accent-3;
$colors-mix-3: $accent-1, $accent-3, $accent-4, $accent-5, $accent-6;
