body {
    margin: 15px;
}

label {
    margin-top: 10px;
    width: 100%;
}

textarea {
    max-height: 150px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    height: 50px;
    font-size: 1.2rem;
    background-color: #fffea9;
    border-bottom: 2px solid rgba(90, 255, 216, 0.82);
}

[class*="col"] {
    padding: 0;
}

.wrapper {
    border: 2px solid rgba(90, 255, 216, 0.82);
    border-radius: 7px;
}

.bordered  {
    border-right: 2px solid rgba(90, 255, 216, 0.82);
    border-left: 2px solid rgba(90, 255, 216, 0.82);
}

.list-group {
    list-style: decimal inside;
}

.list-group-item {
    display: list-item;
    cursor: pointer;
    transition: background-color .25s ease;
}

.list-group-item:hover {
    background-color: #cffdff;
}

.product-details {
    padding: 15px;
    text-align: start;
}

.show-form-button {
    margin-bottom: 15px;
}

.form-for-order {
    margin: 15px auto;
    padding: 0 10px 10px 10px;
    border: 2px solid #58ccff;
    border-radius: 5px;
}

.order-block {
    margin: 0 auto;
}

.order-information {
    text-align: start;
}

.hide {
    display: none;
}

.error-message {
    font-size: 1.2rem;
    color: #ff4426;
}

.text-decoration {
    color: #ff8f31;
    font-size: 1.1rem;
}

.product-name-block {
    border-top: 2px solid #58ccff;
}

@media (max-width: 767px) {
    .bordered  {
        border-right: none;
        border-left: none;
    }
}
