.section-works {
    padding: 3.75rem 0;
    text-align: center;

    &__description {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 2rem;
    }

    &__description-save {
        @include font($roboto, .875rem, 300);

        padding: .7rem 1rem;
        color: #69686b;

        &:hover {
            color: #161616;
        }
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;

        a {
            display: flex;
        }
    }

    &__grid-image {
        flex-grow: 1;
        transition: opacity .5s ease;

        &:hover {
            opacity: .7;
        }

        &--hidden {
            display: none;
        }
    }
}
