.modal-open,
.modal-close {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
.modal-open {
    margin-top: 30px;
    margin-left: 30px;
    border: 1px solid greenyellow;
    padding: 10px 15px;
    transition: background-color .5s ease;
}

.modal-open:hover {
    background-color: rgb(211, 236, 172);
}

.modal-close--button {
    display: block;
    margin: 20px auto;
    border: 1px solid tomato;
    padding: 6px 12px;
    border-radius: 7px;
    transition: background-color .5s ease;
}

.modal-close--button:hover {
    background-color:rgb(247, 189, 178);
}

.modal-close--x {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0 5px;
    font-size: 27px;
    font-weight: 100;
    transform: rotate(45deg);
    transition: opacity .3s ease;
}

.modal-close--x:hover {
    opacity: .5;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(128, 120, 120, .3);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 11;
    padding: 50px 50px 30px 50px;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}
