* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.container2 {
  max-width: 750px;
  padding: 0 10px;
  margin: 0 auto;
  text-align: center;
}

.header {
  position: relative;
  color: #fff;
  background-image: url(../img/header-background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: '';
  background-color: rgba(28, 32, 33, 0.5);
}

.header__inner {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.header__logo {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  margin-top: 35px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__content-wrapper {
  text-align: center;
}

.header__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 55px;
  line-height: 60px;
}

.header__text {
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 32px;
}

@media (max-width: 715px) {
  .header .header__title {
    font-size: 40px;
  }
  .header .header__text {
    width: 80%;
  }
}

@media (max-width: 530px) {
  .header .header__title {
    margin-bottom: 0;
    font-size: 40px;
  }
  .header .form {
    display: block;
  }
  .header input {
    margin: 10px 0 10px 0;
  }
  .header .btn {
    margin-top: 10px;
  }
}

@media (max-width: 415px) {
  .header .header__text {
    width: 100%;
  }
}

@media (min-width: 530px) {
  .header input + input {
    margin-left: 20px;
  }
  .header .header__text {
    padding-bottom: 50px;
  }
  .header .btn {
    margin-left: 20px;
  }
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.form input {
  width: 100%;
  max-width: 350px;
  padding: 0 20px;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  outline: none;
}

.form input::-webkit-input-placeholder {
  color: #fff;
}

.form input::-moz-placeholder {
  color: #fff;
}

.form input:-ms-input-placeholder {
  color: #fff;
}

.form input::-ms-input-placeholder {
  color: #fff;
}

.form input::placeholder {
  color: #fff;
}

.btn,
.btn-secondary {
  width: 100%;
  line-height: 50px;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.btn {
  max-width: 290px;
  background: -webkit-gradient(linear, left top, right top, from(#fe985b), to(#fe50a6));
  background: -o-linear-gradient(left, #fe985b, #fe50a6);
  background: linear-gradient(to right, #fe985b, #fe50a6);
  border: none;
}

.btn:hover {
  -webkit-transform: scale(0.97);
      -ms-transform: scale(0.97);
          transform: scale(0.97);
}

.btn-secondary {
  max-width: 190px;
  font-size: 18px;
  color: #414141;
  background-color: #fff;
  border: 1px solid #6c6c6c;
}

.btn-secondary:hover {
  background: -webkit-gradient(linear, left top, right top, from(#fe985b), to(#fe50a6));
  background: -o-linear-gradient(left, #fe985b, #fe50a6);
  background: linear-gradient(to right, #fe985b, #fe50a6);
}

.info-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.info-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
  border-top: 1px solid #e2e2e2;
}

.info-top__description {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

.info-top__description h2 {
  margin-top: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 51px;
}

.info-top__video {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.info-top__video img {
  width: 100%;
  height: 80%;
}

.info-bottom__item {
  max-width: 360px;
  padding: 0 15px;
  text-align: center;
}

.info-content__title {
  margin: 35px 0 25px 0;
  font-size: 18px;
  font-weight: 700;
}

.info-content__text {
  padding-bottom: 15px;
  line-height: 28px;
  color: #6c6c6c;
}

@media (max-width: 900px) {
  .info .info-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info .info-top__video {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .info .info-top__description {
    text-align: center;
  }
  .info .info-top__description h2 {
    font-size: 30px;
  }
  .info .info-bottom {
    display: block;
  }
  .info .info-bottom__item {
    max-width: 100%;
  }
}

@media (min-width: 900px) {
  .info .info-top {
    margin-top: 115px;
  }
  .info .info-top__description {
    margin-right: 50px;
  }
  .info .info-top__description h2 {
    margin-bottom: 70px;
  }
  .info .info-bottom {
    margin-top: 100px;
  }
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 15px  0 15px;
  background-color: #f6fafd;
}

.content-image {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-right: 40px;
}

.content-image__picture {
  height: 500px;
}

.content-description__text {
  font-size: 22px;
  line-height: 40px;
  color: #414141;
}

.content-description__author {
  font-weight: 700;
}

.content-description__author-position {
  font-weight: 700;
  color: #6c6c6c;
}

@media (max-width: 750px) {
  .content {
    display: block;
  }
  .content .content-description {
    max-width: 550px;
  }
  .content .content-description__text {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.plans {
  margin: 100px 0;
}

.plans-title h2 {
  margin-top: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  color: #414141;
}

.plans-description p {
  font-weight: 300;
  line-height: 28px;
  color: #6c6c6c;
}

.plans-prices {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.plans-prices__btn {
  position: absolute;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.plans-prices__free, .plans-prices__premium {
  position: relative;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  padding: 50px 20px 145px 20px;
  -webkit-transition-duration: .8s;
       -o-transition-duration: .8s;
          transition-duration: .8s;
}

.plans-prices__free:hover, .plans-prices__premium:hover {
  background-color: #f6fafd;
}

.plans-prices__title {
  font-size: 14px;
  font-weight: 700;
  color: #414141;
}

.plans-prices__cost-prefix {
  font-size: 72px;
  font-weight: 700;
  color: #fe50a6;
}

.plans-prices__cost-postfix {
  font-size: 14px;
  color: #414141;
}

.plans-prices__text {
  font-weight: 300;
  line-height: 28px;
  color: #6c6c6c;
}

@media (max-width: 750px) {
  .plans {
    margin: 70px 0;
  }
  .plans .plans-prices {
    display: block;
  }
}

@media (min-width: 750px) {
  .plans .plans-description p {
    margin-bottom: 50px;
  }
}

.get-started {
  padding: 80px 0;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#fe985b), to(#fe50a6));
  background: -o-linear-gradient(left, #fe985b, #fe50a6);
  background: linear-gradient(to right, #fe985b, #fe50a6);
}

.get-started__title {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 55px;
  font-weight: 700;
  line-height: 60px;
}

.get-started__text {
  width: 80%;
  margin: 0 auto 40px;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 750px) {
  .get-started .get-started__title {
    font-size: 45px;
  }
  .get-started .get-started__text {
    width: 100%;
  }
}

.footer {
  margin: 70px 0;
  color: #414141;
}

.footer-logo {
  font-size: 24px;
  font-weight: 700;
}

.footer-logo a {
  color: #414141;
  text-decoration: none;
}

.footer-nav {
  margin: 30px 0;
}

.footer-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  list-style: none;
}

.footer-nav__item {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.footer-nav__item-link {
  color: #414141;
  text-decoration: none;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
}

.footer-nav__item-link:hover {
  color: #fe50a6;
}

.footer-copyrights {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.footer-copyrights__left {
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

.footer-copyrights__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-copyrights__right-item a {
  color: #414141;
  text-decoration: none;
}

.footer-copyrights__right-item a:hover {
  text-decoration: underline;
}

.footer-copyrights__right-item + .footer-copyrights__right-item {
  margin-left: 30px;
}

@media (max-width: 640px) {
  .footer {
    margin: 40px 0;
  }
  .footer .footer-copyrights {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer-copyrights__left {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 30px;
  }
}

@media (min-width: 640px) {
  .footer .footer-copyrights__left {
    margin-right: 20px;
  }
}
