.header {
    margin-top: .7rem;
}

.header a {
    text-decoration: none;
}

.header-title {
    margin: 0;
    font-size: 3rem;
}

.header-title a {
    color: #fff;
}

.header-title a,
.header-list-item a {
    transition: all .25s ease;
}

.header-title:hover a {
    color: #00bc8c;
}

.header-list {
    margin: 0;
    list-style: none;
}

.header-list-item a {
    padding: .7rem 1.5rem;
    color: #00bc8c;
}

.header-list-item a:hover {
    cursor: pointer;
    color: #008e68;
}

.active-page {
    border-bottom: 2px solid;
}

@media screen and (max-width: 870px) {
    .header {
        flex-direction: column;
        justify-content: center;
    }

    .header-title {
        text-align: center;
    }

    .header-list {
        margin-top: 1rem;
        padding: 0;
        justify-content: center;
    }

    .change-service-btn {
        margin: 1.5rem 0 .5rem;
    }
}

@media screen and (max-width: 480px) {
    .header-list {
        flex-wrap: wrap;
    }

    .header-list-item {
        margin-bottom: 1.5rem;
    }

    .change-service-btn {
        margin-top: 0;
    }
}

@media screen and (min-width: 871px) {
    .header {
        margin-left: 1rem;
    }

    .change-service-btn {
        margin-left: 1rem;
    }
}