body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(252, 242, 101);
}

p {
    font-size: 18px;
    text-align: center;
}

.chessboard {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 320px;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid #000;
}

.chessboard-field {
    width: 40px;
    height: 40px;
    background-color: #fff;
}

.chessboard-field--black {
    background-color: #000;
}

.chessboard-field--green {
    background-color: rgb(23, 201, 23);
}

.chessboard-field--blue {
    background-color: rgb(74, 237, 248);
    background-image: url(../image/black_knight.png);
    background-size: contain;
}

