.header,
.footer {
    &__btn {
        position: relative;
        float: right;
        padding: 5px 20px 4px 50px;
        font-size: 16px;
        line-height: 36px;
        color: #1b1b1b;
        background-color: $accent;

        &::before {
            position: absolute;
            left: 22px;
            font-family: 'icomoon';
            color: #1b1b1b;
            content: "\f0b1";
        }
        
        &:hover {
            cursor: pointer;
        }
    }

    &__tel,
    &__email {
        line-height: 45px;
        color: #cbcacb;
        letter-spacing: 0.25px;
    }

    &__tel {
        position: relative;
        padding-right: 30px;
        padding-left: 20px;

        &::before {
            content: "\f095";

            @include header-icons;
        }
    }

    &__email {
        position: relative;
        padding-left: 24px;

        &::before {
            content: "\f003";

            @include header-icons;
        }
    }
}
