* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(201, 245, 245);
}

.header {
    margin: 0 auto;
    padding: 30px 50px;
    max-width: 900px;
    text-align: center;
    background-color: rgb(67, 241, 183);
    border-radius: 0 0 15px 15px;
}

.header__title {
    margin-top: 0;
    font-weight: 500;
}

.header__form {
    width: 100%;
}

.header__input {
    width: 100%;
    padding: 10px 20px;
    font-size: 17px;
    border: 2px solid transparent;
    border-radius: 5px;
    outline: none;
    transition: border-color .5s ease;
}

.header__input:focus {
    border-color: rgb(125, 153, 248);
}

.header__input::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}