@import "base/fonts";
@import "base/vars";
@import "base/mixins";
@import "base/basic-styles";

@import "vendors/libs";

@import "components/titles";
@import "components/scrollbar";
@import "components/media";

.header {
    min-height: 100vh;
    padding: $gutter;

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $gutter;
    }

    &__nav-list {
        display: flex;
    }

    &__nav-list-item {
        @include hover-underline($colors-mix-1);

        &:not(:last-child) {
            margin-right: $gutter;
        }
    }

    &__nav-list-item a {
        @include font($font-family-1, 1.3rem, 400);

        padding: .5rem 1rem;
        color: inherit;
    }

    &__inner {
        display: flex;
    }

    &__inner-info {
        display: flex;
        flex-basis: 60%;
        flex-direction: column;
    }

    &__inner-image {
        flex-basis: 40%;

        img {
            width: 100%;
        }
    }

    &__inner-greeting {
        @include font($font-family-1, 5rem, 700);
    }

    &__inner-name {
        @include font($font-family-1, 2rem, 400);
    }

    &__inner-title {
        @include font($font-family-1, 2rem, 400);
    }

    &__inner-github {
        @include font($font-family-1, 1.5rem, 400);
        @include buttons-stylization($accent-1, $accent-2, $accent-1, 3px);

        flex-shrink: 1;
        width: 45%;
    }
}

.about {
    background-color: $bg-color-1;

    &__title {
        margin-bottom: $gutter * 2;
        border-bottom: 1px solid $accent-4;
    }

    &__title-text {
        padding-bottom: $gutter;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__inner-description {
        flex-basis: 40%;

        p {
            text-align: left;
        }
    }

    &__inner-photo {
        margin: 0 3rem;
    }

    &__inner-photo img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }

    &__inner-details {
        flex-basis: 40%;

        ul {
            margin-bottom: $gutter;
            text-align: left;
        }
    }

    &__inner-details-link {
        color: inherit;
        transition: color $transition-duration ease;

        &:hover {
            color: $accent-4;
        }
    }

    &__inner-details-cv {
        @include buttons-stylization($accent-4, $accent-2, transparent, 2px);

        display: inline-block;
    }
}

.skills {
    &__inner {
        display: flex;
        justify-content: space-around;
    }

    &__inner-hard,
    &__inner-soft {
        flex-basis: 50%;
    }

    &__inner-title {
        position: relative;
        padding: .5rem;
        margin-bottom: $gutter * 2;

        &::before {
            position: absolute;
            bottom: 0;
            left: 20%;
            width: 60%;
            height: 2px;
            content: '';
            background-color: $accent-5;
        }
    }

    &__inner-list {
        column-count: 2;

        li {
            padding: .4rem;
            border-radius: .5rem;
            transition: all $transition-duration ease;
            
            &:hover {
                background-color: $accent-5;
            }
        }
    }
}

.works {
    background-color: $accent-7;

    &__header-buttons {
        display: flex;
        justify-content: center;

        li {
            @include hover-underline($colors-mix-2);
        }
    }

    &__header-button {
        @include font($font-family-1, 1.3rem, 400);

        padding: .5rem 1rem;
        color: inherit;
        cursor: pointer;
        background: none;
        border: none;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        color: $accent-1;
    }

    &__list-item-img {
        width: 100%;
        height: 100%;
        border-radius: 1.5rem;
        transition: all $transition-duration ease;
    }

    &__list-item-hover {
        @include font($font-family-1, .9rem, 700);

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: $gutter / 2;
        border-radius: 1.5rem;
        opacity: 0;
        transition: all $transition-duration ease;

        h3 {
            margin: 0;
            font-size: 1.5rem;
        }

        p {
            margin: 0;
            text-align: left;
        }
    }

    &__list-item-hover-buttons {
        a {
            @include buttons-stylization($accent-2, $accent-1, transparent, 2px);

            cursor: pointer;
        }
    }

    &__list-item {
        position: relative;
        flex-basis: 49%;
        margin-top: 2%;
        overflow: hidden;
        border: 1px solid $accent-1;
        border-radius: 1.5rem;
        box-shadow: 0 0 2px 3px rgb(201, 201, 201);

        &:nth-of-type(odd) {
            margin-right: 2%;
        }

        &:hover .works__list-item-hover {
            background-color: rgba(26, 26, 26, 0.75);
            opacity: 1;
        }

        &:hover .works__list-item-img {
            transform: scale(1.1, 1.1);
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $gutter;
    background-image: linear-gradient(to bottom right, #012 0%, #678 33.9%, #8a9 64%, #fff 100%);

    &__icons-list {
        display: flex;
    }

    &__icons-list-link {
        position: relative;
        display: flex;
        padding: .9rem;
        margin: 0.5rem;
        overflow: hidden;
        background-color: $accent-7;
        border-radius: 30%;
        box-shadow: 0 5px 15px -5px $accent-2;

        i {
            z-index: 2;
            font-size: 1.8rem;
            color: $accent-4;
            transition: all $transition-duration ease;
        }

        &::before {
            position: absolute;
            top: 90%;
            left: -110%;
            width: 120%;
            height: 120%;
            content: "";
            background: $accent-4;
            transform: rotate(45deg);
        }

        &:hover::before {
            top: -10%;
            left: -10%;
            animation: icons-hover 0.7s 1;
        }

        &:hover i {
            color: $accent-7;
            transform: scale(1.07, 1.07);
        }

        @keyframes icons-hover {
            0% {
                top: 90%;
                left: -110%;
            }
      
            50% {
                top: -30%;
                left: 10%;
            } 
            
            100% {
                top: -10%;
                left: -10%;
            }
        }
    }

    &__copyright {
        @include font($font-family-1, 1.1rem, 500);
    }
}
