@import 'libs';
@import 'font';
@import 'vars';


//MIXINS
@mixin headericons{
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: $accent;
}
@mixin defaultbtn{
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    font-weight: 500;
    font-family: $roboto;
    padding: 8px 50px 8px 24px;
    border: 1px solid $accent;       
    position: relative;
    outline: none;
    &::after{
        content: '\f105';
        font-family: 'icomoon' ;
        background-color: $accent;
        width: 20px;
        height: 40px;
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
       
    }
}
@mixin title-title{
    padding-left: 140px; 
        font-size: 24px;
        line-height: 24px;
        font-weight: 500; 
        font-family: $roboto;
        color: #212020;
        margin-bottom: 10px;
        position: relative;
        &::before{
            content: '';
            width: 100px;
            height: 2px;
            background-color: $accent;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
}
//MIXINS

*,
::after,
::before{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
li,ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
body{ 
    font-family: 'PT Serif', serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    color: #5e5e5e;
}

// *** styles for contacts and consultation button. They are situated in header and section__contacts
.header, .footer{
    &__btn{
        float: right;
        line-height: 36px;
        background-color: $accent;
        color: #1b1b1b;
        padding: 5px 20px 4px 50px;
        font-size: 16px;
        position: relative;
        &::before{
            content: "\f0b1";
            color: #1b1b1b;
            font-family: 'icomoon';
            position: absolute;
            left: 22px;;
        }
    }
    &__tel, &__email{
        color: #cbcacb;
        letter-spacing: 0.25px;
        line-height: 45px;
    }
    &__tel{
        padding-left: 20px;
        padding-right: 30px;
        position: relative;
        &::before{
            content: "\f095";
            @include headericons;
        }
    }
    &__email{
        padding-left: 24px;
        position: relative;
        &::before{
            content: "\f003";
            @include headericons;
        }
    }
}
// *** styles for contacts and consultation button.

.header{
    font-family: $roboto;
    &__top{
        background-color: #303030;
    }
    &__contacts{
        &::after{
            content: '';
            display: block;
            clear: both;
        }
    }
    &__logo{
        padding: 34px 0 23px;
    }
    &__content-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}
.menu{
    li{
        display: inline-block;
    }
    a{
        color: #323232;
        font-size: 16px;
        line-height: 36px;
        border: 1px solid transparent;
        padding: 0px 16px;
        &:hover{
            border-color: $accent;
            transition: all .3s;
        }
    }
    li+li{
        padding-left: 10px;
    }
    &__btn{
        cursor: pointer;
        display: none;
    }
    &__btn-part{
        width: 20px;
        height: 2px;
        background-color: black;
        &:nth-last-of-type(2){
            margin: 5px 0;
        }
    }
}

// *** slider
.slider{
    background-image: url(../img/slider-fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 570px;
    position: relative;
    display: flex;
    align-items: center;
    &::before{
        content: '';
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &__inner{
        text-align: center;
        display: flex;
        align-items: center;
    }
    &__item{
        max-width: 100%;
        padding: 0px 10px;
    }
    &__title{
        text-transform: uppercase;
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        font-weight: 500;
        letter-spacing: 1.5px;
        margin-bottom: 22px;
        font-family: $roboto;
    }
    &__text{
        color: #d3d2d2;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 50px;
    }
    &__btn{
        @include defaultbtn;
    }
}
// *** slider

// *** arrows settings(first)
.slick-next{
    position: absolute;
    bottom: -80px;
    right: 0;
}
.slick-prev{
    position: absolute;
    bottom: -80px;
    left: 0;
}
.slick{
    &-next{
        &::before{
            content: "\f105";
            font-family: 'icomoon';
            color: white;
        }
    }
    &-prev{
        &::before{
            content: "\f104";
            font-family: 'icomoon';
            color: white;
        }
    }
    &-arrow{
        background-color: $accent;
        height: 40px;
        width: 40px;
        border: 1px solid white;
        cursor: pointer;
        z-index: 2;
        &:focus{
            outline: none;
        }
    }
    &-disabled{
        background-color: transparent;
        cursor: default;
    }
    &-list{
        max-width: 665px;
    }
}
// *** arrows settings(first)

.services, .form, .news{
    padding: 50px 0 30px;
    &__top{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    &__title{
        max-width: 520px; 
    }
    &__title-title{
        @include title-title();
    }
    &__title-text{
        padding-left: 140px; 
    }
}
.services{
    &__btn{
        align-self: center;
        color: #373636;
        letter-spacing: 0.25px;
        line-height: 24px;
        padding: 5px 38px;
        border: 3px solid #e6e6e6;
    }
    &__items{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        background-color: #f9f9f9;
        max-width: 350px;
        text-align: center;
        padding: 30px 20px 100px 20px;
        box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
        position: relative;
        margin-left: 30px;
        &:nth-of-type(1){
            margin-left:0;
        }
    }
    &__item-title{
        font-size: 18px;
        line-height: 24px;
        font-weight: 500; 
        font-family: $roboto;
        color: #212020;
        margin: 24px 0;
    }
    &__item-links{
        position: absolute;
        bottom: 30px;
        left: 20px;
        right: 20px;
        display: flex;
        justify-content: space-between;
    }
    &__item-link1{
        line-height: 18px;
        text-decoration: underline;
        color: #050505;
        align-self: center;
        &:hover{
            text-decoration: none;
        }
    }
    &__item-link2{
        @include defaultbtn();
        color: #1b1b1b;
        &::after{
            color: #fff;
        }
    }
}
.about{
    min-height: 300px;
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px 0px 100px 0px;
    position: relative;
    &__inner{
        max-width: 550px;
    }
    &__title{
        font-size: 24px;
        line-height: 24px;
        font-weight: 500; 
        font-family: $roboto;
        color: #fff;
    }
    &__text{
        margin: 30px 0px 0px;
        color: #d3d2d2;
        font-size: 14px;
        line-height: 24px;
    }
    &__link {
        @include defaultbtn();
        position: absolute;
        bottom: 30px;

        &::after{
            color: #fff;
        }
    }
}
.form{
    &__inner{
        background-image: url(../img/girl.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;
    }
    &__box{
        max-width: 850px;
    }
    &__box-inner{
        display: flex;
        justify-content: space-between;
        input,label,textarea{
            display: block;
            width: 100%;
            outline: none;
        }
        input, textarea{
            border: 1px solid #e6e6e6;
        }
        label{
            color: #282828;
            line-height: 36px;
            font-family: $roboto;
        }
        input{
            margin-bottom: 8px;
            height: 40px;
            padding: 0px 10px;
        }
        textarea{
            resize: none;
            padding: 10px;
            height: 210px;
            margin-bottom: 50px;
        }
    }
    &__box-left{
        max-width: 260px;
        width: 100%;
    }
    &__box-right{
        max-width: 555px;
        width: 100%;
        &::after{
            content: '';
            display: block;
            clear: both;
        }
    }
    &__box-btn{
        @include defaultbtn;
        background-color: #fff;
        color: #282828;
        font-weight: 400;
        cursor: pointer;
        float: right;
    }
}

// *** SELECT stylization classes
.jq-selectbox{
    cursor: pointer;
	display: block;
	width: 100%;
    outline: none;
    position: relative;
    &__select {
        border: 1px solid #e6e6e6;
        color: #333;
        padding-left: 10px;
        padding-right: 36px;
    }
    &__dropdown{
    max-width: 260px;
	width: 100%;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
	background: #FFF;
    }
    li {
        min-height: 18px;
        padding-left: 10px;
        color: #231F20;
        border-bottom: 1px solid #e6e6e6;
        &:hover{
            background-color: #e6e6e6d3;
        }
    }
    &__trigger{
        position: absolute;
	    top: 0;
        right: 0;
        bottom: 0;
	    width: 34px;
        border-left: 1px solid #e6e6e6;
        &::after{
            content: '\f105';
            font-family: 'icomoon';
            transform: translateX(-50%) rotate(90deg);
            position: absolute;
            left: 50%;
        }
    }
}
// *** SELECT stylization classes

.advantages{
    min-height: 285px;
    background-image: url(../img/advantages-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 0 40px 0;
    color: #FFF;
    font-family: $roboto;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__item{
        text-align: center;
        padding: 0 40px;
    }
    &__title{
        all: none;
        font-size: 18px;
        line-height: 24px;
        font-weight: 500;
        margin: 0;
        padding-top: 60px;
        position: relative;
        &::after{
            content: "\f00c";
            font-family: 'icomoon';
            border: 1px solid $accent;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 6px;

        }
    }
    &__text{
        color: #d3d2d2;
        line-height: 24px;
    }

}

// *** arrows settings(second)
.news__comments{
    >.slick-arrow{
        border: 1px solid #2e2a2a38;
    }
    >.slick-next, .slick-prev{
        &::before{
            color: #2e2a2a38;
        }
    }
    >.slick-next{
        position: absolute;
        bottom: -80px;
        right: 0;
    }
    >.slick-prev{
        position: absolute;
        bottom: -80px;
        right: 75px;
    }
}
// *** arrows settings(second)

.news{
    margin-bottom: 80px;
    &__btn{
        align-self: center;
        color: #373636;
        letter-spacing: 0.25px;
        line-height: 24px;
        padding: 5px 38px;
        border: 3px solid #e6e6e6;
    }
    &__inner, &__blog{
        display: flex;
        justify-content: space-between;
    }
    &__comments{
        height: 100%;
        position: relative;
        box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
        &::before{
            content: "\f10e";
            text-align: center;
            color: #fff;
            font-size: 16px;
            padding-top: 7px;
            font-family: 'icomoon';
            width: 67px;
            height: 30px;
            background-color: $accent;
            position: absolute;
            left: 70px;
        }
    }
    &__comments-item{
        max-width: 555px;
        padding: 50px 35px 30px 70px;
    }
    &__comments-title{
        font-size: 20px;
        line-height: 24px;
        color: #242424;
    }
    &__comments-text{
        margin-bottom: 20px;
    }
    &__comments-author{
        padding-left: 20px;
    }
    &__blog-left, &__blog-right{
        max-width: 260px;
        color: #878787;
    }
    &__blog-left{
        margin-right: 32px;
        margin-left: 32px;
    }
    &__blog-image{
        position: relative;
    }
    &__blog-img{
        display: block;
        width: 100%;
    }
    &__blog-data{
        height: 56px;
        width: 50px;
        background-color: $accent;
        position: absolute;
        top: 0;
        left: 10px;
    }
    &__blog-title{
        color: #242424;
        font-family: $roboto;
        font-weight: 500;
        font-size: 16px;
    }
}
.footer{
    &__top{
        min-height: 335px;
        background-color: #595959;
        padding: 30px 0px;
        color: #FFF;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__left{
        max-width: 350px;
        margin-right: 50px;
    }
    &__title{
        font-family: $roboto;
        font-style: 18px;
        line-height: 24px;
        letter-spacing: 0.8px;
    }
    &__text{
        margin: 18px 0px;
    }
    &__btn{
        float: none;
    }
    &__email{
        display: block;
    }
    &__adress{
        color: #cbcacb;
        letter-spacing: 0.25px;
        line-height: 45px;
        padding-left: 20px;
        padding-right: 30px;
        position: relative;
        &::before{
            content: "\f041";
            @include headericons;
        }
    }
    &__map{
        max-width: 630px;
        width: 100%;
        padding: 28px 0;
    }
    &__map-location{
        width: 100%;
        height: 100%;
    }
    &__copyrights{
        background-color: #303030;
        text-align: center;
        padding: 16px 0;
        font-family: $roboto;
        font-size: 12px;
        color: #FFF;
    }
}

// *** id for fancybox
#modal{
    display: none;
    input{
        margin-bottom: 8px;
        height: 40px;
        padding: 10px 15px;
        display: block;
        width: 100%;
        outline: none;
        border: 1px solid #e6e6e6;
        &:nth-child(3){
            cursor: pointer;
            margin: 0;
        }
    }
}
// *** id for fancybox

@import 'media';