/// *** VARS ***///
$background: rgba(#322d53, .87);
$accent: #00e0d0;
$white: #fff;
$color-1: #13102d;
$color-2: #30235f;
$color-3: #46a3cc;
$color-4: #52c3c0;
$color: $color-1, $color-3, $color-2, $color-4;
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;
$hammersmith: 'Hammersmith One', sans-serif;
/// *** VARS ***///

/// *** MIXINS *** ///
@mixin font($ff, $size, $weight) {
    font-family: $ff;
    font-size: $size;
    font-weight: $weight;
}
/// *** MIXINS *** ///
