@import "libs";
@import "fonts";
@import "vars";

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    line-height: 1.75;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

input,
textarea,
button,
a {
    outline: none;
}

input[type="submit"],
input[type="file"] {
    cursor: pointer;
}

///*** Scrollbar stylezation ***///
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px 0 rgba(51, 51, 51, 0.3);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient($color-1 5%, $color-2 20%, $color-3 50%, $color-4 80%);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#312b66 5%, #30235f 20%, #2f8bb3, #299692);
}

///*** Scrollbar stylezation ***///

/// *** PRELOADER *** ///
.preloader-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    background-color: #322d53;
}

.preloader {
    display: flex;
    margin: auto;
}

@for $i from 1 through 4 {
    .item-#{$i},
    .item-#{$i}::before {
        width: 25px;
        height: 25px;
        background-color: nth($color, $i);
        border-radius: 50%;
    }

    .item-#{$i} {
        display: flex;
        margin: 9px;

        &::before {
            margin: auto;
            content: '';
            animation: scale 2s ease 200ms * $i infinite;
        }
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50%,
    75% {
        transform: scale(2.5);
    }

    78%,
    100% {
        opacity: 0;
    }
}
/// *** PRELOADER *** ///

/// *** MODAL WINDOW *** ///
.modal-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    display: none;
    background-color: rgba(#dadada, .8);
}

.modal-form {
    position: relative;
    padding: .8rem;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 4px 2px #dadada;

    label {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            @include font($playfair, 1.15rem, 500);
        }
    }

    .main-btn {
        margin: 0 auto;
    }

    &__input {
        @include font($roboto, 1rem, 300);

        display: block;
        margin: 10px 0;
    }

    &__textarea {
        width: 400px;
        height: 200px;
        padding: .7rem;
        resize: none;
    }

    &__close-btn {
        position: absolute;
        top: -3px;
        right: 3px;
        font-size: 3rem;
        font-weight: 100;
        color: rgb(99, 97, 97);
        transition: opacity .25s ease;
        transform: rotate(45deg);

        &:hover {
            opacity: .7;
        }
    }
}
/// *** MODAL WINDOW *** ///

/// *** BUTTONS *** ///
.nav-btn {
    display: none;

    &__item {
        width: 2rem;
        height: 2px;
        background-color: black;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
}

.nav-btn-close {
    position: absolute;
    right: 0;
    z-index: 5;
    display: none;
    font-size: 5rem;
    font-weight: 100;
    color: #fff;
    transform: rotate(45deg);
}

.main-btn {
    @include font($hammersmith, 1rem, 500);

    display: inline-block;
    padding: .5rem 1rem;
    color: $accent;
    text-transform: uppercase;
    border: 1px solid $accent;
    transition: all .5s ease;

    &:hover,
    &:focus {
        color: #fff;
        background-color: $accent;
        border-color: #fff;
    }

    &--button {
        padding: 1rem 1.5rem;
        margin-top: 2rem;
    }

    &--input-submit {
        display: block;
        width: 8rem;
        height: 3rem;
        background: transparent;
    }
}

.go-up {
    position: fixed;
    right: -5rem;
    bottom: 2rem;
    z-index: 8;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    background-color: rgba($accent, .4);
    border: 2px solid #13102d;
    border-radius: 50%;
    transition: all .3s ease;
    transform: rotate(90deg);

    &:hover {
        background-color: lighten($accent, 10);
    }

    &::before {
        font-family: 'icomoon';
        font-size: 1.5rem;
        color: #13102d;
        content: "\f104";
    }
}
/// *** BUTTONS *** ///

/// *** Title and subtitle*** ///
.subtitle,
h1 {
    position: relative;

    &::before {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        width: 4rem;
        height: 2px;
        content: '';
        background-color: $accent;
        transform: translateX(-50%);
    }
}

.title {
    @include font($playfair, 1.375rem, 700);

    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title-2 {
    @include font($playfair, 1.375rem, 700);

    text-transform: uppercase;
}

.footer-title {
    @include font($roboto, 1rem, 900);

    margin-top: 0;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.subtitle {
    @include font($playfair, .875rem, 500);

    padding-bottom: 1.25rem;
    margin-bottom: 0;
}
/// *** Title and subtitle*** ///

.container {
    max-width: 60rem;
    padding: 0 15px;
    margin: 0 auto;

    &--flex {
        display: flex;
        flex-wrap: wrap;
    }
}

/// *** HEADER + Background for header and sections*** ///
.header,
.section-video,
.section-team,
.section-quotes {
    position: relative;
    color: $white;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background-color: $background;
    }
}

.header-inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 1.25rem;
    padding-bottom: 3.75rem;

    /// *** Glide stylazation *** ///
    .glide__bullets {
        position: absolute;
        bottom: 0;
        left: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        transform: translateX(-50%);
    }

    .glide__bullet {
        width: 10px;
        height: 10px;
        margin: 5px;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 50%;

        &:hover,
        &:focus {
            background-color: $accent;
        }
    }

    .glide__bullet--active {
        background-color: $accent;
    }
    /// *** Glide stylazation *** ///

    &__nav {
        display: flex;
        flex-shrink: 1;
        align-items: center;
        justify-content: space-between;
    }

    &__nav-link {
        @include font($roboto, .875rem, 900);

        padding: .7rem;
        color: $white;
        text-transform: uppercase;
        transition: color .5s ease;

        &:hover,
        &:focus {
            color: $accent;
        }
    }

    &__slider {
        display: flex;
        flex-grow: 1;
        align-items: center;
        max-width: 49rem;
        margin: auto;
    }

    &__slider-item {
        text-align: center;
        cursor: grab;

        h1 {
            @include font($playfair, 2rem, 900);

            padding-bottom: 1rem;
        }

        p {
            @include font($roboto, .875rem, 300);

            margin-top: 1.5rem;
            margin-bottom: 3.125rem;
        }
    }

    &__slider-btn {
        margin-bottom: 2rem;
    }
}
/// *** HEADER + Background for header and sections*** ///

/// *** MAIN(OUR STORY) *** ///
.main {
    padding: 3.75rem 0;
}

.main-story {
    display: flex;
    align-items: center;

    &:hover .main-story__logo-img {
        transform: rotate(90deg);
    }

    &__logo {
        flex-basis: 30%;
        text-align: center;
    }

    &__logo-img {
        width: 80%;
        transition: transform .5s ease;
    }

    &__description {
        flex-basis: 70%;
    }

    &__description-title {
        @include font($playfair, 1.375rem, 700);
    }

    &__description-text {
        @include font($roboto, .875rem, 300);

        margin-bottom: 2rem;
    }
}
/// *** MAIN(OUR STORY) *** ///

/// *** SECTION VIDEO *** ///
.section-video {
    display: flex;
    min-height: 80vh;
    overflow: hidden;
    background-size: 100% 110%;

    &__inner {
        @include font($roboto, 1rem, 900);

        position: relative;
        z-index: 2;
        padding: 1rem 2rem;
        margin: auto;
        color: $white;
        text-align: center;
        text-transform: uppercase;

        &:hover .section-video__inner-img,
        &:focus .section-video__inner-img {
            transform: scale(.8);
        }
    }

    &__inner-img {
        width: 100%;
        transition: transform .5s ease;
    }
}
/// *** SECTION VIDEO *** ///

/// *** SECTION EXPERTISE *** ///
.section-expertise {
    padding: 3.75rem 0;

    .container {
        text-align: center;
    }
}

.expertise-tools {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;

    &__item {
        padding: 1.25rem;
        text-align: center;

        i {
            font-size: 3rem;
            color: $accent;
        }
    }

    &__item-title {
        @include font($roboto, .875rem, 900);
    }

    &__item-text {
        @include font($roboto, .875rem, 300);
    }
}
/// *** SECTION EXPERTISE *** ///

/// *** SECTION TEAM *** ///
.section-team {
    min-height: 100vh;
}

.section-team-inner {
    position: relative;
    z-index: 2;
    padding: 3.75rem;
    text-align: center;

    &__text {
        @include font($roboto, .875rem, 300);
    }
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__person {
        padding: 2.5rem .7rem;
        margin: 0;
        transition: transform 1.5s ease;

        &:hover {
            transform: rotateY(360deg);
        }
    }

    &__post {
        @include font($roboto, .875rem, 500);

        max-width: 170px;
        margin: 0 auto;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        border: 1px solid #dadada;
    }
}
/// *** SECTION TEAM *** ///

/// *** SECTION WORKS *** ///
.section-works {
    padding: 3.75rem 0;
    text-align: center;

    &__description {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 2rem;
    }

    &__description-save {
        @include font($roboto, .875rem, 300);

        padding: .7rem 1rem;
        color: #69686b;

        &:hover {
            color: #161616;
        }
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;

        a {
            display: flex;
        }
    }

    &__grid-image {
        flex-grow: 1;
        transition: opacity .5s ease;

        &:hover {
            opacity: .7;
        }
    }

    &__grid-image[data-number="1"],
    &__grid-image[data-number="2"] {
        display: none;
    }
}
/// *** SECTION WORKS *** ///

/// *** SECTION QUOTES *** ///
.section-quotes {
    display: flex;
    min-height: 80vh;
    padding: 3.75rem 1rem;
    overflow: hidden;
    background-size: 150% 110%;

    /// *** GLIDE Stylezation *** ///
    .glide__bullets {
        text-align: center;
    }

    .glide__bullet {
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 50%;
    }

    .glide__bullet--active {
        transition: transform .2s ease;
        transform: scale(1.3);
    }

    .glide__arrow {
        position: absolute;
        padding: .5rem 1.5rem;
        font-size: 2.5rem;
        font-weight: 100;
        cursor: pointer;
        transition: color .25s ease;

        &:hover {
            color: #949494;
        }
    }
    /// *** GLIDE Stylezation *** ///

    &__inner {
        position: relative;
        z-index: 2;
    }

    &__inner-item {
        margin-right: 0;
        margin-left: 0;
        text-align: center;
        cursor: grab;
    }

    &__inner-item-text {
        @include font($playfair, 1rem, 500);
    }

    &__inner-item-author {
        @include font($roboto, .875rem, 300);

        text-transform: uppercase;
    }
}

.section-quotes-slider {
    max-width: 49rem;
    padding-top: 3rem;
    margin: auto;

    &::before {
        position: absolute;
        top: 0;
        left: 50%;
        font-family: 'icomoon';
        font-size: 2rem;
        content: "\e977";
        transform: translateX(-50%);
    }
}
/// *** SECTION QUOTES *** ///

/// *** FORM *** ///
.section-form {
    padding: 3.75rem 0;
}

.form {
    flex-basis: 50%;

    &__input,
    &__textarea {
        @include font($roboto, .875rem, 300);

        display: block;
        width: 100%;
        max-width: 29rem;
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
    }

    &__textarea {
        resize: vertical;
    }
}

.clients {
    flex-basis: 40%;
    text-align: center;

    &__wrapper {
        display: flex;
        justify-content: space-around;
    }

    &__wrapper-left {
        display: flex;
        flex-direction: column;
    }

    &__wrapper-right {
        display: flex;
        flex-direction: column;
    }

    &__image {
        max-width: 7rem;
        margin-bottom: 2.5rem;
    }
}
/// *** FORM *** ///

/// *** FOOTER *** ///
.footer {
    padding: 4.5rem 0;
    background-color: $background;
}

.footer-inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    color: $white;

    &__privacy {
        display: flex;
        flex-basis: 30%;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    &__privacy-text {
        @include font($roboto, .875rem, 300);

        margin-bottom: 2.5rem;
    }

    &__privacy-list {
        display: flex;
        align-self: flex-end;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0;
    }

    &__privacy-list-item {
        a {
            @include font($playfair, .875rem, 500);

            padding: .5rem;
            color: $white;
            text-transform: uppercase;
            transition: color .35s ease;

            &:hover,
            &:focus {
                color: $accent;
            }
        }
    }

    &__contacts {
        flex-basis: 30%;
        margin: 0 2rem;
        text-align: center;
    }

    &__contacts-adress,
    &__contacts-tel {
        @include font($roboto, .875rem, 300);

        color: $white;
        transition: color .35s ease;

        &:hover,
        &:focus {
            color: $accent;
        }

        &::before {
            margin-right: .5rem;
            font-family: 'icomoon';
        }
    }

    &__contacts-adress {
        &::before {
            content: "\f095";
        }
    }

    &__contacts-tel {
        display: block;

        &::before {
            content: "\f041";
        }
    }

    &__social {
        display: flex;
        flex-basis: 33%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__social-input {
        @include font($roboto, .875rem, 300);

        width: 73%;
        padding: 0.8rem 1.6rem;
        color: $white;
        background-color: transparent;
        border: 1px solid #fff;

        &::placeholder {
            color: $white;
        }
    }

    &__social-input-button {
        width: 4.4rem;
        margin: 1rem 0;
        line-height: 2.7rem;
        background-color: rgba(#a199b4, 0.7);
        border: none;
        transition: background-color .5s ease;

        &:hover {
            background-color: rgba(#a199b4, 1);
        }
    }

    &__social-success {
        @include font($roboto, 1rem, 300);

        padding: .5rem;
        color: rgb(30, 243, 11);
        border: 1px solid rgb(30, 243, 11);
    }

    &__social-icons {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    &__social-icons-item {
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        color: $white;
        text-align: center;
        border: 1px solid #fff;
        border-radius: 50%;
        transition: all .5s ease;

        &:hover,
        &:focus {
            color: $accent;
            border-color: $accent;
        }

        i {
            line-height: 2.5rem;
        }
    }

    &__social-copyrights {
        @include font($playfair, .875rem, 500);
    }
}
/// *** FOOTER *** ///
@import "media";
