* {
    box-sizing: border-box;
}

body {
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 450px;
    width: 270px;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid rgb(22, 165, 175);
    border-radius: 7px;
    box-shadow: 0 0 5px 2px rgb(197, 197, 197);
    user-select: none;
    transform: translate(-50%, -50%);
}

.wrapper-login {
    height: 250px;
}

/* BUTTONS */
button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.modal-open,
.modal-close,
.send {
    border: 1px solid rgb(22, 165, 175);
    transition: background-color .5s ease;
}

.send:hover,
.modal-open:hover {
    background-color: rgb(83, 221, 231);
}

.modal-open {
    padding: 10px 18px;
    border-radius: 10px;
}

.modal-close {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 10;
    padding: 4px 8px;
    color: rgb(68, 68, 68);
    border-radius: 50%;
}

.rules {
    text-decoration: underline;
}

.rules:hover {
    text-decoration: none;
}

.back {
    padding: 5px 8px;
    border: 1px solid rgb(129, 129, 129);
    border-radius: 5px;
}

.send {
    display: block;
    margin-left: 75px;
    padding: 10px 18px;
    border-radius: 10px;
}
/* BUTTONS */

input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 100%;
    margin-bottom: 15px;
    outline: none;
    color: rgb(102, 99, 99);
    padding: 10px 5px;
    font-size: 16px;
}

label {
    cursor: pointer;
}

.label-rules {
    font-size: 13px;
    color: rgb(145, 139, 139);
}

.signup-sex {
    display: none;
}

.radio-button {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border: 1px solid #000;
    border-radius: 50%;
}

.signup-sex:checked + .radio-button {
    background-color: rgb(132, 209, 199);
}

input[type="checkbox"] {
    display: inline-block;
    width: min-content;
    cursor: pointer;
}

.modal-left,
.modal-right {
    display: inline-block;
    width: 270px;
    height: 450px;
    padding: 15px;
    background-color: #fff;
    transition: all .5s ease;
}

.modal-left {
    position: absolute;
    top: 0;
}

.modal-right {
    overflow-y: scroll; 
}

.alert {
    position: fixed;
    top: 15px;
    left: 50%;
    display: none;
    padding: 15px 30px;
    color: #fff;
    background-color: rgb(97, 95, 95);
    border-radius: 5px;
    transform: translateX(-50%);
}