@media (max-width: 1100px) {
    .services-carousel .owl-item:nth-child(odd) .services-carousel__item {
        flex-direction: column;
    }
}

@media (max-width: 1074px) {
    .header-information {
        justify-content: space-around;
    }

    .header-main__about-wrapper,
    .header-navigation {
        padding-bottom: 8.125rem;
    }

    .section-form {
        display: block;
        background-size: cover;
    }
}

@media (max-width: 992px) {
    html {
        font-size: 95%;
    }

    .section-gallery__inner {
        flex-direction: column;
    }

    .section-gallery__description {
        text-align: center;
    }

    .section-gallery,
    .section-comments,
    .section-partners {
        &__inner {
            padding: 3rem 10%;
        }
    }
}

@media (max-width: 811px) {
    .footer__map {
        width: 100%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 90%;
    }

    .partners-carousel {
        width: 100%;
    }
    
    .comments-carousel {
        width: 100%;
        margin-top: 1rem;

        &::before,
        &::after {
            display: none;
        }
    }
}

@media (max-width: 683px) {
    html {
        font-size: 80%;
    }

    .header-main__about {
        &-wrapper,
        .header-navigation {
            padding-bottom: 11.25rem;
        }
        
        &-inner {
            h1 {
                font-size: 3rem;
            }
        }
    }
}

@media (max-width: 510px) {
    .header-information {
        flex-direction: column;
        padding-right: 3.7rem;
        padding-left: 0;

        .address,
        .tel,
        .time {
            text-align: center;
        }
    }

    .header-main__about {
        &-inner {
            h1 {
                font-size: 2rem;
            }

            h3 {
                font-size: 0.6rem;
            }
        }
    }
}

@media (max-width: 400px) {
    html {
        font-size: 75%;
    }

    .header {
        padding-left: 15px;

        &-main {
            padding-right: 10px;

            &__contacts {
                flex-direction: column;

                a {
                    display: flex;
                    justify-content: center;
                }

                &-tel {
                    margin-top: 20px;
                }   
            }

            &__about-inner {
                h3 {
                    white-space: normal;
                }
            }
        }
    }

    .address,
    .tel,
    .time {
        font-size: 0.8rem;
    }
}

@media (min-width: 510px) {
    .header-information {
        padding-left: 1rem;

        .address,
        .tel,
        .time {
            padding: 0 1.875rem;
        }
    }
}

@media (min-width: 811px) {
    .footer__contacts {
        padding-left: 2rem;
        margin-right: 1rem;
    }

    .footer__services {
        margin-right: 4rem;
    }
}

@media (min-width: 992px) {
    .section-gallery__description {
        padding-right: 2.5rem;
    }
}
