body {
    margin: 0;
}

.parallax-image {
    background-repeat: no-repeat;
    height: 100%;
    background-image: url(.././img/parallax.jpg)
}

.parallax,
.parallax-image {
    min-height: 100vh;
}

