* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(232, 247, 103);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 3% 5%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(31, 30, 30);
  text-align: center;
  background-color: rgb(88, 241, 139);
  transform: translate(-50%, -50%);
}

.title {
  margin-top: 0;
}

.input {
  margin: 0 auto;
  display: block;
  width: 300px;
  padding: 10px 15px;
  outline: none;
}

.button-add,
.button-clear {
  height: 50px;
  margin-top: 12px;
  cursor: pointer;
  transition: background-color .5s ease;
}

.button-add {
  width: 180px;
  background-color: rgb(22, 224, 197);
  border: 3px solid rgb(8, 149, 192);
}

.button-add:hover {
  background-color: rgb(16, 199, 212);
}

.button-clear {
  width: 120px;
  background-color: rgb(235, 116, 116);
  border: 3px solid rgb(192, 8, 8);
}

.button-clear:hover {
  background-color: rgb(238, 94, 94);
}

.list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.list__item-input,
label {
  cursor: pointer;
}

.list__item-input {
  display: none;
}

.list__item-box {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #fff;
  border-radius: 2px;
}

.list__item-box:before {
  position: absolute;
  top: -5px;
  content: '\2714';
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  color: rgb(40, 43, 233);
  opacity: 0;
  transition: all .2s ease;
  backface-visibility: hidden; 
}

.list__item-input:checked + .list__item-box:before {
  content: '\2713';
  opacity: 1;
}

label {
  line-height: 25px;
  font-size: 18px;
  font-style: italic;
  font-weight: 100;
  user-select: none;
}

.important {
  color: tomato;
}

