/// *** VARS ***///
$firaSans: 'Fira Sans', sans-serif;
$monserat: 'Montserrat', sans-serif;
$accent: #f9c766;
$blue: #66c7cd;
$red: #f86868;
$background: rgba(68, 68, 68, .92);
$grey: #515151;
$white: #fff;
/// *** VARS ***///

/// *** MIXINS *** ///
@mixin font($ff, $size, $weight) {
    font-family: $ff;
    font-size: $size;
    font-weight: $weight;
}
/// *** MIXINS *** ///
