@import "fonts";
@import "libs";
@import "vars";

* {
    box-sizing: border-box;
}

body {
    line-height: 1.75;
    background-color: black;
}

header,
section {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section {
    background-color: #fff;
}

/// *** LOGO *** ///
.logo {
    width: 8.125rem;
    height: auto;
}

.logo2 {
    height: 1.5rem;
}
/// *** LOGO *** ///

/// *** BUTTONS *** ///
button {
    line-height: 1.75;
    border: none;
}

.btn-main,
.btn-secondary {
    @include font($monserat, .9rem, 600);

    display: inline-block;
    padding: 0.7rem 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 3px;
    outline: none;
    transition: all .3s;
}

.btn-main {
    color: $white;
    background-color: $accent;
    border-bottom: 5px solid darken($accent, 15%);

    &:hover {
        background-color: lighten($accent, 4%);
    }
}

.btn-secondary {
    color: #727272;
    background-color: $white;
    border-bottom: 5px solid #e6e6e6;
    transition: all .5s ease;

    &:hover,
    &:focus {
        transform: scale(.9, .9);
    }
}

//button with class hamburger you can stylize in @import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss"

/// *** BUTTONS *** ///

/// *** LINKS *** ///
.adress {
    &::before {
        content: "\f2c6";
    }
}

.tel {
    &::before {
        content: "\f10b";
    }
}

.time {
    &::before {
        content: "\f017";
    }
}

.adress,
.tel,
.time {
    @include font($monserat, 1rem, 500);

    color: $white;
    text-decoration: none;
    outline: none;

    &::before {
        margin-right: 3px;
        font-family: 'icomoon';
        color: lighten($grey, 20%);
    }

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
/// *** LINKS *** ///

/// *** SOCIAL NETWORKS *** ///
.facebook {
    &::before {
        content: "\f09a";
    }
}

.instagram {
    &::before {
        content: "\f16d";
    }
}

.vk {
    &::before {
        content: "\f189";
    }
}

.facebook,
.instagram,
.vk {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    text-decoration: none;
    background-color: $grey;
    border-radius: 50%;
    outline: none;
    transition: all .5s ease;

    &:hover,
    &:focus {
        background-color: lighten($grey, 20%);
    }

    &::before {
        font-family: 'icomoon';
        line-height: 2.5rem;
        color: darken($white, 30%);
    }
}
/// *** SOCIAL NETWORKS *** ///

/// *** Mmenu stylezation *** ///
.mm-listitem {
    transition: all .5s ease;

    &:hover {
        color: $accent;
    }

    &__text {
        padding-left: 14%;

        &::before {
            margin-right: 0.5rem;
            font-family: 'icomoon';
            font-size: 0.8rem;
            content: "\f219";
        }
    }
}

.mm-navbar__title {
    padding-top: 3rem;
    text-align: center;
}
/// *** Mmenu stylezation *** ///

.header {
    display: flex;
    min-height: 100vh;
    padding-left: 1.5rem;
    color: $white;
    background-color: $grey;

    &-main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
        padding-top: 2.5rem;
        padding-right: 1.5rem;

        &__contacts {
            display: flex;
            flex-shrink: 1;
            justify-content: space-between;

            &-tel {
                @include font($firaSans, 1.375rem, 500);

                color: $white;
                text-decoration: none;
                outline: none;

                &::before {
                    margin-right: 4px;
                    font-family: 'icomoon';
                    color: lighten($grey, 20%);
                    content: "\f10b";
                }

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }

        &__about {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;

            &-wrapper {
                width: 100%;
                max-width: 68.8rem;
                padding-bottom: 5rem;
            }

            &-inner {
                max-width: 36.3rem;
                text-align: center;

                h3 {
                    @include font($monserat, 0.875rem, 300);

                    display: flex;
                    align-items: center;
                    margin: 0;
                    white-space: nowrap;

                    &::before {
                        margin-right: 5px;
                    }

                    &::after {
                        margin-left: 5px;
                    }

                    &::before,
                    &::after {
                        display: inline-block;
                        width: 100%;
                        height: 1px;
                        content: '';
                        background-color: $white;
                    }
                }
    
                h1 {
                    @include font($monserat, 3.7rem, 100);

                    margin: 0;
                    line-height: 1.5;
                    border-bottom: 1px solid $white;
                }
    
                h4 {
                    @include font($monserat, 1.125rem, 500);

                    &::before {
                        margin-right: 0.5rem;
                    }

                    &::after {
                        margin-left: 0.5rem;
                    }

                    &::before,
                    &::after {
                        font-family: 'icomoon';
                        font-size: 0.8rem;
                        color: $accent;
                        content: "\f005";
                    }
                }
    
                p {
                    @include font($monserat, 1rem, 300);

                    margin-bottom: 2rem;
                }
            }
        }
    }

    &-navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2.5rem;
        padding-right: 0.5rem;
        padding-bottom: 3rem;
        padding-left: 0.5rem;
        border-left: 1px solid $grey;

        &__links {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;

            .instagram {
                margin-top: 1.56rem;
                margin-bottom: 1.56rem;
            }
        }
    }

    &-information {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-basis: 12.5rem;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 5rem;
        line-height: 3.125rem;
        border-top: 1px solid $grey;
    }
}

.services {
    &-carousel {
        position: relative;

        /// *** OWL CAROUSEL ***///
        .owl-nav button.owl-prev,
        .owl-nav button.owl-next {
            width: 3.75rem;
            height: 3.75rem;
            background-color: $white;
            outline: none;
        }

        .icon-angle-double-left,
        .icon-angle-double-right {
            font-size: 1.5rem;
        }

        .owl-prev {
            position: absolute;
            top: 0;
            left: 0;
        }

        .owl-next {
            position: absolute;
            top: 0;
            right: 0;
        }
        /// *** OWL CAROUSEL ***///

        &__item {
            display: flex;
            flex-direction: column;
 
            &-content {
                padding-top: 50px;
                padding-bottom: 50px;
                color: $white;
                text-align: center;

                &-title {
                    @include font($monserat, 1.75rem, 800);

                    margin: 0;
                    text-transform: uppercase;
                }

                &-subtitle {
                    @include font($monserat, 1.125rem, 300);

                    display: block;
                    margin-bottom: 40px;
                    text-transform: uppercase;
                }

                &-prices {
                    @include font($monserat, 1.125rem, 300);

                    padding: 0 40px;
                    line-height: 60px;

                    strong {
                        @include font($monserat, 1.125rem, 700);

                        color: #4a4a4a;
                    }
                }
            }

            &-image {
                display: flex;
                opacity: .7;
                transition: opacity .5s ease;
            }

            &:hover .services-carousel__item-image {
                opacity: 1;
            }
        }
    }
}

/// *** services-carousel__item column-reverse *** ///
.owl-item:nth-child(odd) .services-carousel__item {
    flex-direction: column-reverse;
}
/// *** services-carousel__item column-reverse *** ///

/// *** SCSS cycle for owl-carousel items color *** ///
$colors: $blue, $red, $accent;
$borders: #5aafb4, #da5b5b, #dbaf5a;

@for $i from 1 through length($colors) {
    .services-carousel .owl-item:nth-child(3n+#{$i}) {
        background-color: nth($colors, $i);
    }

    .owl-item:nth-child(3n+#{$i}) .services-carousel__item-content-prices:nth-of-type(2) {
        border-top: 2px solid nth($borders, $i);
        border-bottom: 2px solid nth($borders, $i);
    }
}
/// *** SCSS cycle for owl-carousel items color *** ///

.section-gallery,
.section-comments {
    &__inner {
        padding: 6rem 5%;
        background-color: $background;
    }
}

.section-gallery {
    &__inner {
        display: flex;
    }

    &__description {
        flex-basis: 80%;
        color: $white;

        &-title {
            @include font($monserat, 1.875rem, 800);

            margin-top: 0;

            span {
                color: $accent;
            }
        }

        &-text {
            @include font($monserat, 1rem, 500);
        }
    }

    &__photos {
        /// *** FOTORAMA *** ///
        .fotorama__img {
            border: 5px solid white !important;
        }

        .fotorama__thumb-border {
            border-color: $accent;
        }

        .fotorama__nav-wrap {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            left: 1rem;
        }

        .fotorama__arr {
            top: 42%;
        }

        .fotorama__arr--prev {
            left: 3rem;
        
            &::before {
                font-family: 'icomoon';
                font-size: 3rem;
                color: $white;
                content: "\f104";
            }
        }
        
        .fotorama__arr--next {
            right: 2rem;
        
            &::before {
                font-family: 'icomoon';
                font-size: 3rem;
                color: $white;
                content: "\f105";
            }
        }
        /// *** FOTORAMA *** ///
    }
}

.section-form {
    display: flex;
    justify-content: flex-end;
    background-size: contain;

    &__wrapper {
        position: relative;
        flex-basis: 50%;
        padding: 3rem 4rem;
        background-color: rgba($accent, .9);
    }
}

/// *** Form elements stylization *** ///
input,
select {
    width: 100%;
    padding: .9rem 1.5rem;
    color: $white;
    background-color: transparent;
    border: 1px solid rgb(129, 129, 129);
    outline: none;

    &::placeholder {
        color: $white;
    }
}
/// *** Form elements stylization *** ///

.form {
    color: $white;

    &__success {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;

        span {
            @include font($monserat, 1.125rem, 700);

            margin: auto;
            text-transform: uppercase;
        }

        & ~ * {
            transition: all .5s ease;
        }

        .active {
            & ~ * {
                filter: blur(3px);
            }
        }
    }

    &__title {
        @include font($monserat, 1.875rem, 800);
    }

    &__text {
        @include font($monserat, 1rem, 500);
    }

    input {
        margin-bottom: 1.5rem;
    }

    select {
        margin-bottom: 3rem;
    }

    option {
        color: #333;
    }
}

@import "media";
