::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px 0 rgba(51, 51, 51, 0.3);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient($color-1 5%, $color-2 20%, $color-3 50%, $color-4 80%);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#312b66 5%, #30235f 20%, #2f8bb3, #299692);
}
